<div class="container">
      <section id="explanation" class="width-two-thirds">
          <h3>About this Site</h3>
          <p>
            This data provides a window into how people are interacting with the state of Connecticut's government online.
             The data comes from a Google Analytics account for the state of Connecticut agencies. The program <a href="https://www.digitalgov.gov/services/dap/common-questions-about-dap-faq/#part-4" class="external-link">does not track individuals</a>,
               and <a href="https://support.google.com/analytics/answer/2763052?hl=en" class="external-link">anonymizes the IP addresses</a> of visitors.
          </p>
      </section>
      <section class="width-one-third">
        <h3>Download the data</h3>
        <p>You can <a href="{{ site.url }}{% if page.slug %}/{{ page.slug }}{% endif %}/data/">download the data here.</a> Available in JSON and CSV format.</p>
      </section>
</div>
<footer>
</footer>
